<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrsnow.petstore.mapper.ShipAddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mrsnow.petstore.dao.ShipAddress">
        <id column="id" property="id" />
        <result column="CONSIGNER" property="consigner" />
        <result column="CONSIGNER_PHONE" property="consignerPhone" />
        <result column="CONSIGNER_ADDRESS" property="consignerAddress" />
        <result column="STORE_ID" property="storeId" />
        <result column="STORE_NAME" property="storeName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, CONSIGNER, CONSIGNER_PHONE, CONSIGNER_ADDRESS, STORE_ID, STORE_NAME
    </sql>

</mapper>
