<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mrsnow.petstore.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mrsnow.petstore.dao.User">
        <id column="ID" property="id" />
        <result column="USER_NAME" property="userName" />
        <result column="PASSWORD" property="password" />
        <result column="IS_ROOT" property="isRoot" />
        <result column="MOBILE" property="mobile" />
        <result column="EMAIL" property="email" />
        <result column="DELIVERY_ADDRESS_ID" property="deliveryAddressId" />
        <result column="USER_ROLE" property="userRole" />
        <result column="STORE_ID" property="storeId" />
        <result column="STORE_NAME" property="storeName" />
        <result column="NICK_NAME" property="nickName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, USER_NAME, PASSWORD, IS_ROOT, MOBILE, EMAIL, DELIVERY_ADDRESS_ID, USER_ROLE, STORE_ID, STORE_NAME, NICK_NAME
    </sql>

</mapper>
